<html>
  <head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
  <link href='//fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <audio controls autoplay>
      <source src="retro.mp3" type="audio/mpeg">
    </audio>
  <body>
    <h1>Rock Paper Scissors</h1>
    <form action='/player_1_game'>
      <input type="submit" value="One Player" id="players">
    </form>
    <form action='/player_2_game'>
      <input type="submit" value="Two Player" id="players">
    </form>
  </body>
</html>