<html>
  <head><link rel="stylesheet" type="text/css" href="css/style.css"><META HTTP-EQUIV="refresh" CONTENT="3"></head>
  <link href='//fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <audio controls autoplay>
    <source src="wait.mp3" type="audio/mpeg">
  </audio>
  <body>

  </body>
</html>